<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pgy.esdemo.mapper.XmyContentClasCenterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pgy.esdemo.entity.XmyContentClasCenter">
        <id column="content_id" property="contentId" />
        <result column="classify_id" property="classifyId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        content_id, classify_id
    </sql>

</mapper>
